<div class="title-menu">
    <h1>ALUMNO</h1>
</div>
<div class="container">
    <div class="title">
        <h1>Datos</h1>
    </div>
    <div class="img">
        <img src="/assets/elchristo.jpeg" alt="Dia Feliz">
    </div>
    <div class="date">
        <h5>Nombre: Christopher Becerro Bollera</h5>
    </div>
    <div class="elementary">
        <ul>
            <li>Carrera: ISC</li>
            <li>Materia: SW</li>
            <li>Docente: Memotl</li>
          </ul>
    </div>
</div>
<!-- <div class="hobbits">
    <h1>Cosas que me gustan hacer</h1>
</div> -->
<div class="title-menu">
    <h1>GUSTOS</h1>
</div>
