.container{
    width: 100%;
}
.container{
    background-color: #8A1EEE;
    text-align: center;
    height: 100%;
    width: 350px;
    border: 10px solid black;
    /* margin-left: 37%; */
    position: relative;
    left: 560px;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.3);
    border-radius: 4rem;
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    align-items: center;
    height: 190px;
    width: 150px;
}
.img{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    align-items: center;
    height: 190px;
    width: 150px;
    border: 1px solid black;
}
.date{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.elementary{
    font-size:larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25%;
    text-align: justify;
}

.title-menu{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}
