<div class="container">
    <div class="title">
        <h1>Deporte</h1>
        <h3>Me gusta el fut y el bicho</h3>
    </div>
    <div class="img">
        <img src="/assets/cr7.jpg" alt="Dia Feliz">
    </div>
</div>