<div class="container">
    <div class="title">
        <h1>Serie Netflix</h1>
        <h3>Me quede en la temporada 9, muy buena 100%</h3>
    </div>
    <div class="img">
        <img src="/assets/suits.jpg" alt="Serie fav">
    </div>
</div>