<div>
    <div class="container">
        <div class="title">
            <h1>Comida</h1>
            <h3>Me gusta los tacos al pastor</h3>
        </div>
        <div class="img">
            <img src="/assets/tacos.jpg" alt="comida">
        </div>
    </div>
    </div>
    