
.container{
    width: 100%;
}
.container{
    background-color: #8A1EEE;
    text-align: center;
    margin-top: 1%;
    height: 100%;
    width: 300px;
    border: 10px solid black;
    float: left;
    margin-left: 20rem;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.3);
    border-radius: 4rem;
    position: relative;
    margin-bottom: 2%;
}

img{
    
    display: block; margin-left: auto; margin-right: auto;
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
}
.img{
    display: block; margin-left: auto; margin-right: auto;
    height: 350px;
    width: 300px;
    /* border: 1px solid black; */
}
