
<app-home></app-home>

<app-componente1></app-componente1>
<app-componente2></app-componente2>
<app-componente3></app-componente3>

<app-componente4></app-componente4>
<app-componente5></app-componente5>
