<div>
    <div class="container">
        <div class="title">
            <h1>Postre</h1>
            <h3>Me gusta el helado</h3>
        </div>
        <div class="img">
            <img src="/assets/helado.jpg" alt="helado">
        </div>
    </div>
    </div>
    