<div>
<div class="container">
    <div class="title">
        <h1>Video Juegos</h1>
        <h3>Me gusta el Fornite</h3>
    </div>
    <div class="img">
        <img src="/assets/fortnite.jpg" alt="Video Juego Fav">
    </div>
</div>
</div>
